cupy==7.8.0.post1
chainer==7.7.0
pandas==1.1.5
chainercv==0.13.1
Pillow==8.2.0
progressbar2==3.53.1
tqdm==4.61.0
joblib==1.0.1
matplotlib==3.3.4
Sphinx==4.0.2
scipy==1.5.4
opencv-python==4.5.2.52
scikit-learn==0.24.2
h5py==3.1.0
scikit-image==0.17.2
xmltodict==0.12.0
chainer-ya-utils @ git+https://github.com/yasuyuky/chainer-ya-utils@48ca72352c2ecaa877b2a8c738ab0c7a64e32ed8
nnoir==1.0.5
nnoir-chainer==1.1.3
