cupy-cuda115==10.3.0
chainer==7.8.1
pandas==1.4.2
chainercv==0.13.1
Pillow==9.1.0
progressbar2==4.0.0
tqdm==4.64.0
joblib==1.1.0
matplotlib==3.5.1
Sphinx==4.5.0
scipy==1.8.0
opencv-python==4.5.5.64
scikit-learn==1.0.2
h5py==3.6.0
scikit-image==0.19.2
xmltodict==0.12.0
chainer-ya-utils @ git+https://github.com/yasuyuky/chainer-ya-utils@48ca72352c2ecaa877b2a8c738ab0c7a64e32ed8
nnoir==1.0.8
nnoir-chainer==1.1.3
