cupy==8.1.0
chainer==7.7.0
pandas
chainercv==0.13.1
Pillow
progressbar2
tqdm
joblib
matplotlib
Sphinx
scipy
opencv-python
scikit-learn
h5py
scikit-image
xmltodict
git+https://github.com/yasuyuky/chainer-ya-utils
nnoir==1.0.5
nnoir-chainer==1.1.2
